
/* *{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
} */

body{
   margin: 0;
   padding: 0;

}

body>header{
   background-color: #191919;
   color: #efefef;
   margin-top: 0px;
   font-family: 'Varela Round', sans-serif;
}
/* header>img{
   float: left;
} */
body>header>div{
   display:inline-block;
}

aside{
   position: absolute;
   top:200px;
   width: 200px;
   right: 10px;
   z-index: 2;
   background-color: white;
   border: 1px solid grey;;
   border-radius: 15px;
   padding: 1em;
}